<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyz.dev.oneDao.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.dyz.dev.model.Article">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="aid" jdbcType="INTEGER" property="aid" />
    <result column="atitle" jdbcType="VARCHAR" property="atitle" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="addtime" jdbcType="VARCHAR" property="addtime" />
    <result column="readnumber" jdbcType="INTEGER" property="readnumber" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="isbanner" jdbcType="INTEGER" property="isbanner" />
    <result column="category" jdbcType="INTEGER" property="category" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="author" jdbcType="VARCHAR" property="author" />
    <result column="acontent" jdbcType="LONGVARCHAR" property="acontent" />
    <result column="coverimg" jdbcType="LONGVARCHAR" property="coverimg" />
    <result column="brief" jdbcType="LONGVARCHAR" property="brief" />
  </resultMap>
</mapper>
