<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!record" class="modal-spin"></nz-spin>
<div sv-container *ngIf="record">
  <sv label="姓名">{{ record.cnameSh }}</sv>
  <sv label="工号">{{record.empNo}}</sv>
  <sv label="课别">{{record.section}}</sv>
  <sv label="邮箱">{{record.emailAddr}}</sv>
  <sv label="角色">{{roles.toString()}}</sv>
</div>
<!--<div>-->
<!--  <div>-->
<!--    <nz-transfer-->
<!--      [nzDataSource]="list"-->
<!--      [nzTitles]="['Source', 'Target']"-->
<!--      (nzSelectChange)="select($event)"-->
<!--      [nzSelectedKeys]="['0', '2']"-->
<!--      (nzChange)="change($event)"-->
<!--    >-->
<!--    </nz-transfer>-->
<!--  </div>-->
<!--</div>-->
<div class="modal-footer">
  <a href="https://a4.tsmc.com.tw/" target="_blank">
    <button nz-button type="button">编辑</button>
  </a>
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
