<div class="modal-header">
  <div class="modal-title">查看 {{ record.id }} 信息</div>
</div>
<nz-spin *ngIf="!i" class="modal-spin"></nz-spin>
<div sv-container [col]="1" *ngIf="solutionCase">
  <sv label="title">{{ solutionCase.title }}</sv>
  <sv label="description">{{ solutionCase.description }}</sv>
</div>
<div *ngIf="i">
  <nz-comment [nzAuthor]="i.author" [nzDatetime]="i.datetime">
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="i.avatar"></nz-avatar>
    <nz-comment-content>
      <p>{{ i.description }}</p>
    </nz-comment-content>
    <nz-comment-action>Reply to</nz-comment-action>
    <nz-comment-action>
      <nz-rate [(ngModel)]="i.rate " [nzAllowHalf]="false"></nz-rate>
    </nz-comment-action>
  </nz-comment>
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="save()">确认</button>
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
