<div class="alain-default__header-logo" style="width: 90px; margin-left: 50px">
  <a [routerLink]="['/']" class="alain-default__header-logo-link">
    <img class="alain-default__header-logo-expanded" src="./assets/tsmc-logo.png" alt="{{ settings.app.name }}"
         style="max-height: 40px;"/>
    <img class="alain-default__header-logo-collapsed" src="./assets/logo.svg" alt="{{ settings.app.name }}"
         style="max-height: 30px;"/>
  </a>
</div>
<span>
  <a routerLink="/" style="color: white; font-size: x-large;">易答</a>
</span>
<div class="alain-default__nav-wrap">
  <ul class="alain-default__nav">
    <!-- Menu -->
    <!--    <li>-->
    <!--      <div class="alain-default__nav-item" (click)="toggleCollapsedSidebar()">-->
    <!--        <i nz-icon nzType="menu-{{settings.layout.collapsed ? 'unfold' : 'fold'}}"></i>-->
    <!--      </div>-->
    <!--    </li>-->
    <!-- Github Page -->
    <!--    <li>-->
    <!--      <a class="alain-default__nav-item" href="//github.com/ng-alain/ng-alain" target="_blank">-->
    <!--        <i nz-icon nzType="github"></i>-->
    <!--      </a>-->
    <!--    </li>-->
    <!-- Lock Page -->
    <!--    <li class="hidden-mobile">-->
    <!--      <div class="alain-default__nav-item" [routerLink]="['/passport/lock']">-->
    <!--        <i nz-icon nzType="lock"></i>-->
    <!--      </div>-->
    <!--    </li>-->
    <!--    &lt;!&ndash; Search Button &ndash;&gt;-->
    <!--    <li class="hidden-pc" (click)="searchToggleChange()">-->
    <!--      <div class="alain-default__nav-item">-->
    <!--        <i nz-icon nzType="search"></i>-->
    <!--      </div>-->
    <!--    </li>-->
  </ul>

  <!--  <forum-search class="alain-default__search" [toggleChange]="searchToggleStatus"></forum-search>-->
  <ul class="alain-default__nav">
    <!-- Notify -->
    <li [acl]="'ALL'"  [acl-ability]="'admin'">
      <a routerLink="/admin" style="color:white;">网站管理</a>
    </li>
    <!-- Task -->
    <li class="hidden-mobile">
      <!--      <a style="color:#ffffff;" >首页</a>-->
      <span class="item" title="分享你的Case">
        <a routerLink="/createCase">
        <img src="./assets/write.svg" class="home"/>
        </a>
      </span>
    </li>

    <li class="hidden-mobile">
      <!--      <a style="color:#ffffff;" >首页</a>-->
      <span class="item" title="回到首页">
        <a routerLink="/">
        <img src="./assets/home-w1.svg" class="home"/>
          </a>
      </span>

    <li class="hidden-mobile">
      <header-notification></header-notification>
    </li>
    <!-- App Icons -->
    <!--    <li class="hidden-mobile">-->
    <!--      <header-icon></header-icon>-->
    <!--    </li>-->
    <!-- Settings -->
    <li class="hidden-mobile">
      <div class="alain-default__nav-item" nz-dropdown [nzDropdownMenu]="settingsMenu" nzTrigger="click"
           nzPlacement="bottomRight">
        <i nz-icon nzType="setting"></i>
      </div>
      <nz-dropdown-menu #settingsMenu="nzDropdownMenu">
        <div nz-menu style="width: 200px;">
          <div nz-menu-item>
            <header-fullscreen></header-fullscreen>
          </div>
          <div nz-menu-item>
            <header-storage></header-storage>
          </div>
          <!--          <div nz-menu-item>-->
          <!--            <header-write></header-write>-->
          <!--          </div>-->

          <!--          <div nz-menu-item>-->
          <!--            <header-pcenter></header-pcenter>-->
          <!--          </div>-->

          <div nz-menu-item>
            <header-i18n></header-i18n>
          </div>
        </div>
      </nz-dropdown-menu>
    </li>
    <li class="hidden-mobile">
      <header-user></header-user>
    </li>
  </ul>
</div>


