<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyz.dev.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.dyz.dev.model.Tag">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="TAG_NAME" jdbcType="VARCHAR" property="tagName" />
    <result column="CREATE_EMPNO" jdbcType="VARCHAR" property="createEmpno" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="T_ID" jdbcType="VARCHAR" property="tId" />
    <result column="IS_DELETE" jdbcType="VARCHAR" property="isDelete" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="roleName" />
  </resultMap>

  <select id="findAllByModuleName" resultMap="BaseResultMap" parameterType="list">
    select * from SOLVE_CENTER_TBL_TAG where IS_DELETE = 'N'
    <foreach collection="moduleNames" open="and (" close=")" item="item" separator="or">
       ROLE_NAME like '%' || #{item,jdbcType=VARCHAR} || '%'
    </foreach>

  </select>
</mapper>
